html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--gray-yellow);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --white-yellow: #fffde7;
  --white: #ffffff;
  --gray-yellow: #cccab5;
  --yellow: #fff176;
  --light-yellow: #ffffa8;
  --dark-yellow: #cabf45;
  --black: #000000;
}
